* {
  font-family: RobotoLight, 'DIN', sans-serif;
  position: relative;
  box-sizing: border-box;
}
h1 {
  font-family: 'Attentica 4F', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
html,
body,
#app,
.main {
  display: table;
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
#app,
.main {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  background-color: #656565;
}
.b-description-overlay {
  position: absolute;
  bottom: 10%;
  background: rgba(0,0,0,0.4);
  padding: 20px;
  margin: 0 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.b-download-game {
  width: 100%;
  height: auto;
  background-size: contain;
  position: absolute;
  bottom: 10%;
}
.b-download-game-item {
  -ms-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  outline: none;
}
.b-download-game-item {
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.b-download-game-item.active {
  opacity: 1;
  visibility: visible;
}
.b-download-game-item > a {
  height: 3rem;
  display: block;
}
.b-download-game-item > a:hover {
  border: 1px solid transparent;
}
.b-download-game-item > p {
  font-size: 0.7rem;
  color: #fff;
  margin: 0.2rem;
}
.b-download-game-item.b-download-game-appstore > a {
  background: url("../images/app-store_coming-soon.png") center no-repeat;
  background-size: contain;
}
.b-download-game-item.b-download-game-google > a {
  background: url("../images/app-google.png") center no-repeat;
  background-size: contain;
}
.b-download-game-item.b-download-game-browser > a {
  background: url("../images/app-browser.png") center no-repeat;
  background-size: contain;
}
.b-footer {
  position: absolute;
  color: #fff;
  font-size: 0.6rem;
  width: 100%;
  bottom: 0;
}
.b-footer .b-footer-btns {
  display: table;
  width: 100%;
}
.b-footer .b-footer-btns .b-footer-btn {
  display: table-cell;
  padding: 1rem;
}
.b-footer .b-footer-btns .b-footer-btn.b-footer-censor {
  display: block;
  padding: 2px 8px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.65rem;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
}
.input-gray {
  width: 100%;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #404040;
}
.input-gray.secret-code {
  margin-bottom: 0;
  text-transform: uppercase;
}
.button-red {
  text-align: center;
  background-color: #991c00;
  padding: 0.7rem 0 0.6rem 0;
  color: #ebe1d7;
  letter-spacing: 0.25rem;
  font-size: 1.4rem;
  font-family: 'Attentica 4F', sans-serif;
  opacity: 0.2;
  height: 3rem;
  line-height: 2rem;
}
.button-red.active {
  opacity: 1;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo {
  position: absolute;
  top: 0;
  padding-bottom: 1rem;
  background: #dadada;
  width: 100%;
  text-align: center;
  max-width: 400px;
}
.logo.hide {
  opacity: 0;
}
.logo span {
  font-family: 'Attentica 4F';
  border-top: 0.5rem solid #991c00;
  font-size: 1.8rem;
  color: #991c00;
  margin: 0 auto;
  display: inline-block;
  padding: 0.2rem 0.25rem 0;
}
.logo span:first-child {
  padding-left: 0;
}
.logo span:last-child {
  padding-right: 0;
}
.game-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.375rem;
  padding: 0.5rem 0.5rem 0.2rem;
  background: #c2c0c2;
}
.game-number >div {
  font-size: 0.9rem;
  line-height: 0.7rem;
  color: #991c00;
}
.game-number >div.number {
  font-size: 1.375rem;
  color: #000;
  padding: 0.5rem 0;
}
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dadada;
  padding-bottom: 1rem;
}
.screen.start {
  padding-top: 4rem;
}
.screen .start-screen-element {
  padding: 0.5rem 3rem;
}
.screen .start-screen-element.input {
  padding-top: 1rem;
}
.screen .start-screen-element.desc,
.screen .start-screen-element.sub-desc {
  margin: 2rem 0;
  font-size: 1rem;
  color: #2b2b2b;
}
.screen .start-screen-element.desc {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Attentica 4F';
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.screen .start-screen-element.connect-btn {
  margin-bottom: 1rem;
}
.screen .waiting-screen-element,
.screen .game-screen-element {
  padding: 0.5rem 3rem;
  text-align: left;
}
.screen .waiting-screen-element .header,
.screen .game-screen-element .header {
  font-size: 0.8rem;
  margin-top: 3rem;
}
.screen .waiting-screen-element .header >span,
.screen .game-screen-element .header >span {
  display: inline-block;
  vertical-align: middle;
}
.screen .waiting-screen-element .header >span.user-info,
.screen .game-screen-element .header >span.user-info {
  padding-left: 0.7rem;
}
.screen .waiting-screen-element .header >span.user-info .user-name,
.screen .game-screen-element .header >span.user-info .user-name {
  max-width: 10rem;
  overflow: hidden;
  max-height: 2rem;
}
.screen .waiting-screen-element .header >span .votes-wrapper,
.screen .game-screen-element .header >span .votes-wrapper {
  display: table-cell;
  height: 3rem;
  padding: 0 0.5rem;
}
.screen .waiting-screen-element .header .avatar,
.screen .game-screen-element .header .avatar {
  width: 4rem;
  height: 5rem;
  display: inline-block;
  vertical-align: middle;
}
.screen .waiting-screen-element.main-bottom-btn,
.screen .game-screen-element.main-bottom-btn {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}
.screen .players-list {
  position: absolute;
  width: 100%;
  height: calc(100% - 15.5rem);
  top: 10rem;
}
.screen .players-list.main {
  height: calc(100% - 17rem);
  top: 11rem;
}
.screen .players-list .wrapper-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  width: 100%;
}
.screen .players-list .wrapper-list .fader {
  position: absolute;
  bottom: 0rem;
  z-index: 1;
  width: 100%;
  height: 2rem;
  background: rgba(194,192,194,0.1);
  background: -moz-linear-gradient(top, rgba(194,192,194,0.1) 0%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(194,192,194,0.1)), color-stop(100%, #dadada));
  -webkit-background-origin: padding-box;
}
.screen .players-list .wrapper-list .list {
  overflow: auto;
  flex-grow: 1;
}
.screen .players-list .wrapper-list .list .item-list {
  padding: 0.6rem 0;
  border-bottom: 1px solid #969696;
}
.screen .players-list.sub-desc {
  margin: 0 0;
  font-size: 0.8rem;
  color: #2b2b2b;
}
.player-list-item {
  border-bottom: 1px solid #969696;
  display: table;
  padding: 2px;
  width: 100%;
}
.player-list-item.entry {
  height: 2rem;
  border-bottom: none;
}
.player-list-item >div {
  display: table-cell;
  height: 2.5rem;
  padding-right: 0.3rem;
}
.player-list-item .icon {
  width: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.8rem;
}
.player-list-item .icon.mafia {
  margin: 0 0 0 0.5rem;
  background: url("../images/mafia_icon.png") no-repeat top;
  background-size: contain;
  height: 1.6rem;
  width: 1rem;
  height: 1rem;
}
.player-list-item .player-name {
  vertical-align: middle;
  padding-left: 0.5rem;
  font-size: 1rem;
  width: 100%;
  overflow: auto;
  max-width: 8rem;
}
.player-list-item.inactive {
  width: 100%;
  background-color: #dadada;
  color: #999;
  cursor: default;
}
.player-list-item.inactive .player-name {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5rem;
  margin-right: 0.2rem;
  opacity: 0.5;
}
.player-list-item.inactive .icon {
  width: 1.4rem;
  margin-left: -0.3rem;
  opacity: 0.5;
}
.player-list-item.inactive .icon.mafia {
  width: 1rem;
  height: 1rem;
  top: 0;
  margin: 0;
}
.votes,
.targets {
  padding: 0;
  width: 0.4rem;
  min-width: 0.4rem;
  display: table;
  height: 100%;
}
.votes >div,
.targets >div {
  width: 5px;
  background: #969696;
  display: table-row;
}
.votes >div >div,
.targets >div >div {
  display: table-cell;
  border-bottom: 1px solid #dadada;
}
.votes >div.active >div {
  background: #00a88f;
}
.targets >div.active >div {
  background: #991c00;
}
.handcuff,
.gun {
  cursor: pointer;
  padding: 0.4rem;
  background-color: #c2c0c2;
  vertical-align: top;
  border-right: 2px solid #dadada;
}
.handcuff .icon,
.gun .icon {
  width: 30px;
  padding: 0.6rem 0.4rem 0;
  height: 16px;
  margin-top: 0.4rem;
}
.handcuff .loader,
.gun .loader {
  background: url("../images/loader2.png") no-repeat center;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
  top: 0.3rem;
  position: absolute;
  opacity: 0.9;
  border-radius: 50%;
}
.gun.active {
  background-color: #991c00;
}
.gun.active .icon .gun-icon-svg {
  fill: #fff;
}
.gun .icon .gun-icon-svg {
  fill: #999;
}
.handcuff {
  border-left: 1px solid #dadada;
}
.handcuff.active {
  background-color: #00a88f;
}
.handcuff.active .icon .handcuff-icon-svg {
  fill: #fff;
}
.handcuff .icon .handcuff-icon-svg {
  fill: #999;
}
.video-effect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #000;
}
.video-effect video {
  width: 100%;
  height: 100%;
}
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .logo,
  .screen {
    max-width: 400px;
    margin: 0 auto;
  }
}
/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .logo,
  .screen {
    max-width: 400px;
    margin: 0 auto;
  }
}
/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (min-device-height: 480px) {
  .screen.screen-side .logo {
    background: transparent;
  }
  .wrapper-rules .rules .button-ok {
    margin: 0 4rem;
  }
}
/* ----------- iPhone 5 and 5S ----------- */
@media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
  .screen.start {
    padding-top: 6rem;
  }
}
/* ----------- iPhone 6 and more----------- */
@media only screen and (min-device-width: 400px) and (min-device-height: 600px) {
  .screen.start {
    padding-top: 8rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .logo,
  .screen {
    max-width: 500px;
    margin: 0 auto;
  }
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selected {
  z-index: 10000;
}
.menu {
  position: absolute;
  z-index: 100;
}
.menu .menu-item {
  margin-left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.7rem;
  cursor: pointer;
}
.menu .menu-item .menu-humburger {
  width: inherit;
  height: inherit;
}
aside {
  position: absolute;
  width: 100%;
  height: 100%;
}
section.screens {
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section.screens.menu-show {
  left: 240px;
}
section.screens.menu-hide-left {
  left: 0px;
}
.content-menu-list {
  width: 16rem;
  height: inherit;
  position: absolute;
  top: 0;
  padding: 3rem 1rem;
  background: #dadada;
  z-index: 2000;
  box-shadow: 1px 1px 4px #40404c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}
.content-menu-list.menu-show {
  left: 0px;
}
.content-menu-list.menu-hide-left {
  left: -300px;
}
.content-menu-list.menu-hide-right {
  left: 400px;
}
.content-menu-list header {
  position: absolute;
  margin-left: 1rem;
  top: 1rem;
  text-align: center;
  font-family: 'Attentica 4F';
  font-size: 1.8rem;
  color: #991c00;
  width: calc(100% - 4rem);
  letter-spacing: 0.5rem;
}
.content-menu-list .back {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  cursor: pointer;
  background: #dadada;
}
.content-menu-list .back .menu-close {
  width: inherit;
  height: inherit;
}
.content-menu-list .list {
  padding: 3rem 2rem;
}
.content-menu-list .list .item-list {
  font-family: "RobotoBold";
  color: #404040;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1.2rem 0;
  cursor: pointer;
  border-bottom: 1px solid #c7c7c7;
}
.content-menu-list .list .item-list .wrapper-toggle-btn {
  float: right;
  margin-top: -0.2rem;
}
.content-menu-list .list .item-list .decrement,
.content-menu-list .list .item-list .increment {
  width: 3rem;
  height: 3rem;
  border: none;
  font-size: 3rem;
  float: left;
  line-height: 2.5rem;
  padding-left: 0.2rem;
}
.content-menu-list .list .item-list input.bots-num {
  width: 4.8rem;
  height: 3rem;
  margin: 0 0 0 1.2rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
}
.content-menu-list .list .item-list .add-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'RobotoBold';
  display: block;
}
.content-menu-list .list .item-list .add-players {
  white-space: nowrap;
  font-size: 2rem;
  line-height: 1.1rem;
  margin-left: 0.5rem;
  transform: scaleX(0.6);
  display: block;
  float: right;
  color: #991c00;
  font-family: "";
}
.content-menu-list .list .item-list:hover {
  color: #991c00;
}
