.swipe-btn {
  background: url("../images/ic_swap_horiz_white.png") no-repeat center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 100;
  bottom: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}
.swipe-btn.black-swipe-btn {
  background: url("../images/ic_swap_horiz_black.png") no-repeat center;
  background-size: contain;
  right: 0.5rem;
  left: auto;
}
.close-btn {
  background: url("../images/close.png") no-repeat center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.quest-btn {
  width: 1.5rem;
  height: 1.6rem;
  position: absolute;
  z-index: 100;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  display: none;
}
.quest-icon-svg,
.gun-icon-svg,
.handcuff-icon-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.footer-controls {
  position: absolute;
  z-index: 100;
  bottom: 0.5rem;
  left: 0.5rem;
}
.toggle-label {
  color: #969696;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.toggle-btn {
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  box-sizing: content-box;
  background-clip: content-box;
}
.toggle-btn .toggle-circle {
  left: 0px;
  transition: background-color 0.4s, left 0.2s;
  background: #fff;
  border-radius: 100%;
  box-shadow: 2px 1px 4px rgba(0,0,0,0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}
.toggle-btn.checked {
  border-color: #991c00;
  box-shadow: #991c00 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #991c00;
}
.toggle-btn.checked .toggle-circle {
  left: 20px;
  transition: background-color 0.4s, left 0.2s;
  background-color: #fff;
}
.tgl {
  display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 56px;
  height: 29px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  top: -2px;
  box-shadow: 0 2px 3px rgba(77,77,77,0.16);
  border: 1px solid #fafafa;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  float: left;
  margin-right: 1rem;
  background: #f0f0f0;
  border-radius: 2em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #00bd52;
}
/* end toggle*/
symbol#icon-handcuff path,
symbol#icon-gun path {
  fill: inherit;
}
